@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Rufina&display=swap');

.title{
    font-family: 'Mrs Saint Delafield', cursive;
    color: #bb9a63;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 400;
}

.subTitle{
    font-family: 'Rufina', serif;
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #fff;
}

.trabajos{
    color: #bb9a63;
    text-transform: uppercase;
    font-size: 0.5rem;
}

.boton{
    font-size: 0.5rem;
    color: #fff;
    border-color: #fff;
    margin-top: 0.5rem;
}


@media screen and (min-width:900px){
    .boxPortada{
        top:-100px
    }
}