@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Rufina&display=swap');

.title{
    font-family: 'Mrs Saint Delafield', cursive;
    color: #bb9a63;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 400;
}

.subTitle{
    font-family: 'Rufina', serif;
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #fff;
}

.trabajos{
    color: #bb9a63;
    text-transform: uppercase;
    font-size: 0.5rem;
}

.boton{
    font-size: 0.5rem;
    color: #fff;
    border-color: #fff;
    margin-top: 0.5rem;
}


@media screen and (min-width:768px){
    .title{
        font-size: 3rem;
    }
    .subTitle{
        font-size: 1.5rem;
    }

    .trabajos{
        font-size: 1rem;
    }

    .boton{
        font-size: 1rem;
    }
}

@media screen and (min-width:900px){
    .boxPortada{
        top:-100px
    }

    .contenedorPortada{
        padding-left: 5%;
    }
}

@media screen and (min-width:1200px){
    .contenedorPortada{
        padding-left: 10%;
    }

    .title{
        font-size: 5rem;
    }

    .subTitle{
        font-size: 2rem;
    }

    .trabajos{
        font-size: 1.5rem;
    }

    .boton{
        margin-top: 2rem;
        font-size: 1.3rem;
    }
}