.boxCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    top:-10px
}

.card{
    max-width: 90%;
    min-width: 50%;
    max-height: 208px;
    text-align: center;
    padding: 5px;
    margin-bottom:2rem;
}

.cardMedia{
    width: 33%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.parrafoCard{
    font-size: 0.8rem;
    margin: 0.5rem;
    color: rgb(103, 113, 139);
}

.logoCard{
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
}

@media screen and (min-width:768px) {
    .card{
        max-width: 50%;
    }
}

@media screen and (min-width:900px) {
    .boxBienvenido{
        position: relative;
        top: -100px;
    }

    .card{
        max-width: 45%;
        min-width: 45%;
    }

    .logoCard{
        width: 50px;
    }
}

@media screen and (min-width:1024px) {
    
}

@media screen and (min-width:1200px) {
    .boxBienvenido{
        top: -50px;
    }

    .title--card{
        font-size: 3rem;
    }

    .logoCard{
        width: 60px;
    }
}

@media screen and (min-width:1536px) {
    .card{
        max-width: 33%;
        min-width: 33%;
    }
    
    .boxCards{
        gap: 3rem;
    }

    .logoCard{
        width: 80px;
    }
}